### Python Basics

### Printing, Variables, Arithmetic

In [1]:
# Print
print('I already love Python')

I already love Python

In [2]:
# Variables and assignment
a = 10
print(a)
b = 5
print(b)

10
5

In [3]:
# Arithmetic
# Note variable values persist from previous cell
print(a + b)
print(a * b)
print(a / b)
print(a - b)

15
50
2.0
5

In [4]:
# Update
a = a + b
print(a)

15

In [5]:
# Increment
a += b
print(a)

20

### Types

In [6]:
# Dynamically-inferred types
a = 10
print(type(a))
a = '10'
print(type(a))
a = 10.0
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
# Type-checking
a = '10'
b = '5'
print(a + b)

105

In [9]:
# Manual type-conversion (string to int)
a = 10
b = '5'
print(a + int(b))

15

In [10]:
# Automatic type-conversion (int to float)
a = 10
print(type(a))
a += 5.0
print(a, type(a))

<class 'int'>
15.0 <class 'float'>

In [11]:
# Integer division
a = 10
b = 5
print(a//b)
print(b//a)

2
0

In [12]:
# Forcing float division
print(float(b//a))
# How to correct?

0.0

In [13]:
# String "arithmetic" (actually concatenation)
a = 'Hello '
b = 'world!'
print(a + b)

Hello world!

### User Input

In [14]:
# Whatever you enter as input, input function converts it into a string.
a = input('Enter value 1: ')
b = input('Enter value 2: ')
print(a + b)
print(type(a), type(b))

Enter value 1: 1
Enter value 2: 2
12
<class 'str'> <class 'str'>

In [15]:
# You need to explicitly convert it into an integer in your code using typecasting.
a = input('Enter number 1: ')
b = input('Enter number 2: ')
print(float(a) + float(b))
print(type(a), type(b))

Enter number 1: 1
Enter number 2: 2
3.0
<class 'str'> <class 'str'>

### Conditional (If) Statements

In [16]:
# If statements
# Unlike other languages, indentation is significant
a = 5
if a > 10:
    print('a is greater than 10')
    if a >= 15:
        print('a is also at least 15')
elif a > 5:
    print('a is greater than 5 but not greater than 10')
else:
    print('no condition matched')
    print('so a is 5 or less')

no condition matched
so a is 5 or less

### <font color = 'green'>Your Turn</font>

In [19]:

# Write a program that asks for a number and computes the
# square of that number.
# If the square is 100 or greater, print the squared value
# and the word 'big'.
# Otherwise if the square is 50 or greater, print the
# squared value and the word 'medium'.
# Otherwise just print 'too small to bother with'.
# Note: To compute x squared, use x*x or x**2
#
a = int(input())
sqr = a ** 2
if sqr > 100:
    print(sqr, "big")
elif sqr >= 50:
    print(sqr, "medium")
else:
    print("too small to bother with")

7
too small to bother with

### Lists and For-Loops

In [20]:
# List
a = [2, 4, 7, 9]
print(a)
print(type(a))
print(len(a))

[2, 4, 7, 9]
<class 'list'>
4

In [21]:
# Iterate through a list
for x in a:
    print(x, 2 * x)

2 4
4 8
7 14
9 18

In [22]:
# Access element by index (starts at zero)
print(a[1])
print(a[3])
# Try a[5]

4
9

In [23]:
# Prefix, suffix, and section of list
print(a[:2])
print(a[1:])
print(a[1:3])

[2, 4]
[4, 7, 9]
[4, 7]

In [24]:
# Append to list
a.append(12)
a.append(14)
print(a)

[2, 4, 7, 9, 12, 14]

In [25]:
# Combine two lists
a = a + [15, 20, 30]
print(a)

[2, 4, 7, 9, 12, 14, 15, 20, 30]

In [26]:
# List elements can be of different types
a = [1, 'two', 3.0, [4,5,6]]
print(a)
print(type(a))
print(type(a[0]), type(a[1]), type(a[2]), type (a[3]))

[1, 'two', 3.0, [4, 5, 6]]
<class 'list'>
<class 'int'> <class 'str'> <class 'float'> <class 'list'>

### Dictionaries (key-value mappings)

In [27]:
# Dictionary
a = {'name': 'Mary', 'age': 20, 'gender': 'F'}
print(a)
print(type(a))

{'name': 'Mary', 'age': 20, 'gender': 'F'}
<class 'dict'>

In [28]:
# Dictionary length
print(len(a))

3

In [29]:
# Look up value of element by key - most important feature!
print(a['age'])
# also try a['gender'], a['salary']

20

In [30]:
# Modify value
a['age'] = 21
print(a)

{'name': 'Mary', 'age': 21, 'gender': 'F'}

In [31]:
# Iterate through both keys and values, by using the items() function:
print(a.items())
for key, value in a.items():
  print(key,value)

dict_items([('name', 'Mary'), ('age', 21), ('gender', 'F')])
name Mary
age 21
gender F

In [32]:
# Iterating through a list of dictionaries
dlist = [{'name':'Mary', 'age':20}, {'name':'John', 'age':30},
         {'name':'Bill', 'age':10}, {'name':'Susan', 'age':40}]
for x in dlist:
    if x['age'] >= 30:
        print(x['name'], 'is old')
    if x['age'] < 20:
        print(x['name'], 'is young')
# Where is Mary?

John is old
Bill is young
Susan is old

In [33]:
# Add new key-value pair
a['salary'] = 100
print(a)

{'name': 'Mary', 'age': 21, 'gender': 'F', 'salary': 100}

In [34]:
# Removing Items
a.pop('salary')
print(a)

{'name': 'Mary', 'age': 21, 'gender': 'F'}

In [35]:
# Check if key exists
if 'age' in a:
  print('YES')
else:
  print('NO')
# try also 'salary'

YES

In [36]:
# Duplicate keys not allowed - note overwriting behavior
a = {'name': 'Jennifer', 'name': 'Professor'}
print(a)

{'name': 'Professor'}

### <font color = 'green'>Your Turn</font>

In [6]:
# Below is code that creates a list of four items,
# represented as dictionaries specifying each item's
# color and size.
# Add code to ask for a number, then print the color of all
# items whose size is greater than that number.
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
num = int(input())
for i in items:
    if i['size'] > num:
        print(i['color'])

9
red
green

### While-Loops

In [8]:
# Echo user input, 0 indicates stop
a = input('Enter a number, 0 to stop: ')
while int(a) != 0:
    print(a)
    a = input('Enter a number, 0 to stop: ')
print('Done')
# Change to while True and break

Enter a number, 0 to stop: 6
6
Enter a number, 0 to stop: 0
Done

#### Infinite loops, kernel interrupt, and clear output

In [ ]:
a = input('Enter a number, 0 to stop: ')
while True:
    if a !=0: print a
print 'Done'

### <font color = 'green'>Your Turn</font>

In [12]:
# Copy-paste your program from the previous Your Turn and revise
# it to a loop that repeatedly asks for two numbers and prints the
# color of all items whose size is between the two numbers, i.e.,
# whose size is higher than the first number and lower than the
# second number.
# If the user's second number is equal to or smaller than
# the first number, the program should print 'Done' and stop.
# Note: for the "and" of two conditions C1 and C2, use "C1 and C2"
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]

num1 = int(input())
num2 = int(input())

while num2 > num1: 
    for i in items:
        if i['size'] > num1 and i['size'] < num2:
            print(i['color'])
    num1 = int(input())
    num2 = int(input())
print("Done")

2
7
blue
yellow
4
10
yellow
2
1
Done

### Functions

In [13]:
# Create a function with no arguments or return value
def simple():
    print('This function has no arguments or return value')

In [14]:
# Call the function five times
for i in [1,2,3,4,5]:
    simple()

This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value

In [15]:
# Create a function with arguments and a return value
def addthem(a, b):
    return a + b

In [16]:
# Call the function five times
for i in [1,2,3,4,5]:
    print (i, i+1, addthem(i,i+1))

1 2 3
2 3 5
3 4 7
4 5 9
5 6 11

### For the following exercises please use only the material presented above

#### 1. Write a function that takes a list and returns the average value of the list

In [5]:
n = input()
arr = n.split(",")

def average(a):
    sumM = 0
    length = len(a)
    for i in a:
        sumM += int(i)
    return sumM/length

average(arr)

1,2,3,4

2.5

#### 2. Write a function that takes a list and finds the index/location of the largest value in the list

In [6]:
n = input()
arr = n.split(",")

def largIndex(a):
    length = len(a)
    maxx = 0
    for i in range(length):
        if int(a[i]) > int(maxx):
            maxx = a[i]
            ind = i
    return ind

largIndex(arr)

5,6,7,1,3

2

#### 3. Implement bubble sort such that the function takes a list and returns the sorted version of the list

In [26]:
n = input()
arr = n.split(",")

def bsort(a):
    length = len(a)
    for i in range(length):
        for j in range(length-i-1):
            if a[j] > a[j+1]:
                temp = a[j+1]
                a[j+1] = a[j]
                a[j] = temp
    return a
    
bsort(arr)

6,1,4,3,2,5

['1', '2', '3', '4', '5', '6']

#### 4. Implement binary search such that the function takes a list  and a value, and returns either the location of the given value in the list or -1

In [37]:
print("Enter sorted array: ")
n = input()
arr = n.split(",")
print("Enter number to search from array: ")
num = input()
startInd = 0
length = len(arr)-1

def binarySearch(array, search, start, l):    
    while l > start:
        center = start + (l - start)/2
        center = int(center)
        if array[center] == search:
            return center
        elif array[center] < search:
            start = center + 1
            return binarySearch(array, search, start, l)
        else:
            l = center - 1
            return binarySearch(array, search, start, l)
    else:
        return -1

binarySearch(arr, num, startInd, length)

Enter sorted array:
1,2,3,4,5,6,7,8
Enter number to search from array:
7

6